/* app css stylesheet */
/*Front page split screen CSS*/
body {
    
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
    
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 2px;
  transition-property: border-radius, background-color;
  transition-duration: .5s;
  transition-timing-function: linear;
  color: #000000 !important;
  
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #000000 !important;
  color: #FFFFFF !important;
  border: 2px solid darkorange;
  border-radius: 20px 0px 20px 0px;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}




.modal-body {
    text-align: center;
}
.footer {
    background-color: #111111;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
}
.booze-side-img {
    margin-top: 10.5em;
}

.image-box {
    height: 300px;
    //overflow: hidden;
    margin-bottom: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    -webkit-box-shadow: 7px 7px 26px 1px rgba(99,63,5,1);
    -moz-box-shadow: 7px 7px 26px 1px rgba(99,63,5,1);
    box-shadow: 7px 7px 26px 1px rgba(99,63,5,1);
    cursor: pointer;
    
}

.image-box:hover {
    -webkit-box-shadow: 7px 7px 26px 1px rgba(255,157,0,1);
    -moz-box-shadow: 7px 7px 26px 1px rgba(255,157,0,1);
    box-shadow: 7px 7px 26px 1px rgba(255,157,0,1);
}

.image-box > img {
    height: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.calander-iframe{
    max-width: 100%;
    width: 100%;
    height: 500px;
    border: darkorange solid;
    border-radius: .5em;
    margin-top: 1.5em;
}

.landing-page {
    background-color: #111111;
    background-image: url(/img/horns.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family:'Oswald', sans-serif;
    margin-top: 70px;
}
.booze-front-page-box {
    background-color: #000000;
    border-color: deeppink;
    border-style: outset;
    border-width: 20px;
    border-radius: 30px 0px 30px 0px;
    
    margin: 2em;
    
    text-align: center;
    
}


.e3-front-page-box {
    background-color: #000000;
    border-color: darkorange darkorange #B24700 #FF6600;
    border-style: outset double double inset;
    border-width: 20px;
    border-radius: .5em;
    margin: 2em;
    
    text-align: center;
    
}
.e3-front-page-box > a > img {
    margin-bottom: 0em;
}

.e3mod-box {
    background-color: #000000;
    border-color: darkorange darkorange #B24700 #FF6600;
    border-style: outset double double inset;
    border-width: 20px;
    border-radius: .5em;
    border-width: 15px;
    //border-radius: .5em;
    text-align: center;
    margin-bottom: 2em;
    
}

.boozetique-box {
    //background-color: #000000;
    border: deeppink solid;
    border-style: outset;
    border-width: 20px 20px 15px 15px;
    border-radius: 30px 0px 30px 0px;
    text-align: center;
    background: rgb(40,25,25); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(40,25,25,1) 0%, rgba(0,0,0,1) 50%, rgba(43,27,27,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(40,25,25,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(43,27,27,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(40,25,25,1) 0%,rgba(0,0,0,1) 50%,rgba(43,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(40,25,25,1) 0%,rgba(0,0,0,1) 50%,rgba(43,27,27,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(40,25,25,1) 0%,rgba(0,0,0,1) 50%,rgba(43,27,27,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(40,25,25,1) 0%,rgba(0,0,0,1) 50%,rgba(43,27,27,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281919', endColorstr='#2b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.press-box{
    background-color: #101010;
    border: darkorange solid;
    border-radius: .5em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    height: 350px;
    color: white;
}

.press-box-blank{
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.press-row{
    margin: 0 auto;
}

.press-box > a > img {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 60%;
}

.logo {
    height: 400px;
    max-width: 100%;
}
/* nav bar */
.nav-image {
    height: 60px;
    padding: 5px 0px 10px 10px;

    
}
.navbar-brand {
    padding:0;
}

.booze-nav > a:link{
    color: deeppink !important;
}

.navbar-info{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    pointer-events: none;
}

/*carousel */
.item > img{
    max-width: 100% !important;
    height: 300px !important;
    margin: 0 auto;
    border-radius: 5px;
}
.carousel {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

/*.carousel {
    
    border-radius: 5px;
}
.carousel-inner {
    
    border-radius: 5px;
}*/
/* text coloring for E3 modern title */
.white-e3{
    color: #fff
}

.orange-e3 {
    color: darkorange;
}

.pink-booze {
    font-family:damion, sans-serif !important;
    color: deeppink;
    font-size: 1.3em;
}

.text-body-e3 {
    text-align: left;
    color: #FFF;
    letter-spacing:1px;
    margin-bottom: 2em;
    font-size: 1.2em; 
    
}

.form-body-e3 {
    text-align: left;
    color: #FFF;
    letter-spacing:1px;
    margin-bottom: 2em;
    font-size: 1em; 
    
}

.form-body-e3 > form > div > label {
    display: block;
}

.form-body-e3 > form > div > input {
    color: #000000;
}

.form-body-e3 > form > div > textarea {
    color: #000000 !important;
}
#map-container {
    height: 500px;
    border-radius:5px;
}
.inline-img {
    float: right;
    border-radius: 5px;
    margin: 10px;
}

/*ABOUT */
.about-title {
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
}

.gallery-title {
    border-top: 1px solid gray;
    padding-top: 2em;
}

/*DO NOT TOUCH*/
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
